{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('answer_ceremony_only_form') }}
{% endblock %}

{% block headTitle %} {{ text('Réponse - Titre') }} {% endblock %}

{% block body %}

    <a href="{{ path('answer') }}" class="btn btn-outline-primary">
        <i class="fas fa-arrow-left"></i>
        Retour
    </a>

    <hr>

    {{ text('Formulaire de réponse (Cérémonie uniquement) - Texte') }}

    {{ form_start(form) }}
        <div class="form-row d-none d-lg-flex">
            <div class="col"></div>
            <div class="col text-center">Participe<br/>à la cérémonie <br/>et au vin d'honneur</div>
            <div class="col text-center"><br/>Ne viendra<br/>pas</div>
        </div>
        {% for form_guest in form.guests %}
            <div class="form-row">
                <div class="col-xs-12 col-sm-6 col-lg">
                    {{ form_widget(form_guest.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom et prénom'}}) }}
                </div>
                <div class="col-md-12 col-lg text-lg-center">
                    <div class="form-check">
                        <div class="pretty p-switch p-fill">
                            {{ form_widget(form_guest.attendCeremony, {'attr': {'class': 'form-check-input'}}) }}
                            <div class="state p-success"><label></label></div>
                        </div>
                        <span class="d-lg-none">
                            <span class="form-check-label" for="{{ form_guest.attendCeremony.vars.id }}">Participe à la cérémonie et au vin d'honneur</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-lg text-lg-center">
                    <div class="form-check">
                        <div class="pretty p-switch p-fill">
                            {{ form_widget(form_guest.absent, {'attr': {'class': 'form-check-input'}}) }}
                            <div class="state p-danger"><label></label></div>
                        </div>
                        <span class="d-lg-none">
                            <span class="form-check-label" for="{{ form_guest.absent.vars.id }}">Ne viendra pas</span>
                        </span>
                    </div>
                </div>
            </div>
            <br/>
        {% endfor %}
        <br/>
        <div class="form-row">
            <div class="col">
                {{ form_row(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}


{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('answer_ceremony_only_form') }}
{% endblock %}
