{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('access_map') }}
{% endblock %}

{% block headTitle %} {{ text('Plan - Titre') }} {% endblock %}

{% block body %}

{{ text('Plan - Texte') }}

<div id="mapContainer">
	<div id="mapid"></div>
</div>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('access_map') }}
{% endblock %}