<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mariage de Manon et Rémi</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="{{ asset('css/font-awesome/css/all.min.css') }}" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/coming-soon.css') }}" rel="stylesheet">
</head>
<body>
    <img src="{{ asset('images/background.jpg') }}" alt="Background" class="background-img" decoding="async">

    <div class="coming-soon">
    <div class="coming-soon-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="coming-soon-content text-white py-5 py-md-0">
                <h1 class="mb-3">Bienvenue sur le site de notre mariage !</h1>
                <p class="mb-5">Ce site n'est pas encore prêt, mais vous pouvez nous laisser votre adresse e-mail pour que l'on vous prévienne dès qu'il sera opérationnel.</p>
                
                {% if not form.vars.submitted %}
                    {{ form_start(form) }}
                        <div class="input-group input-group-newsletter">
                                {{ form_widget(form.email, {attr: {'class': 'form-control'}}) }}
                            <div class="input-group-append">
                                {{ form_widget(form.submit, {attr: {'class': 'btn btn-secondary'}}) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                {% else %}
                    <div id="thankyou">{{ message }}</div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="js/coming-soon.js"></script>
</body>
</html>
