{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block headTitle %} {{ text('Liste de mariage - Titre') }} {% endblock %}

{% block body %}

    {{ text('Liste de mariage - Texte') }}

    <span class="d-none d-md-block">
        Si vous avez des soucis d'affichage, <a href="{{ path('wedding_list_classic') }}">cliquez ici</a>.
    </span>

    <br>

    <div id="mapid" class="d-none d-md-block"></div>

    <div id="classic-version" class="d-md-none">
	    {% include 'wedding_list/_classic_content.html.twig' %}
    </div>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script>
        var markerList = {{ markerList|json_encode|raw }};
        var polylines = {{ polyline|json_encode|raw }};
    </script>
    {{ encore_entry_script_tags('map') }}
{% endblock %}