<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
    <title>Mariage de Manon et Rémi</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{{ app.request.attributes.get('_route') }}">
    {% include '_navbar.html.twig' %}

    {% block flashes %}
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="container flash-container alert alert-dismissible flash-{{ type }}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    
    <div class="container main-container">
        {% block head %}
            <head>
                <h1>{% block headTitle %}{% endblock %}</h1>
            </head>
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
    
    {% block javascript %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>